@import "tailwindcss";

:root {
  --background: #0f1629;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:rgba(3, 0, 31, 1);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Satoshi', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
